<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
{% block head %}
	{% load static %}
{% endblock %}


<body class="w3-light-grey">
{% block body%}

{% if user.is_authenticated %}

<nav>
	<a href="{% url 'profile' %}" class="anc">Profile</a>
	<a href="{% url 'news' %}" class="anc">News</a>
	<a href="{% url 'projects' %}" class="anc">Projects</a>
	<a href="{% url 'grades' %}" class="anc">Grades</a>
	<a href="{% url 'logout' %}}" class="anc" style="float: right">Log Out</a>
</nav>

{% else %}

<nav>
	<a href="/smallsite/news/" class="anc">News</a>
	<a href="/smallsite/projects/" class="anc">Projects</a>
	<a href="/smallsite/signup/" class="anc" style="float: right">Sign Up</a>
	<a href="/smallsite/#login" onclick="document.getElementById('id01').style.display='block'" class="anc" style="float: right">Log In</a>
</nav>

{% endif %}

<main class="w3-container">
	<div class="w3-row">
		<section class="w3-col l8 m12 s12 ">
			<div class="w3-card-2 w3-padding w3-margin w3-white">
				<h1 class="w3-center">About University</h1>
				<img src="http://www.purdue.edu/purdue/images/audience/about-banner.jpg" width="45%" alt="University_Pic" style="float: left;" class="w3-margin">

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Tempora, in necessitatibus?
					Facilis nobis harum ipsa culpa laborum dolorum quis ab vero doloremque provident, dolor iure animi odio! Sapiente, officiis odio.
					ipsum dolor sit amet, consectetur adipisicing elit.
					Optio unde error, cupiditate!
					Ab dolorum, quidem rem illum consequatur ipsam eligendi incidunt molestias aperiam, a in voluptatibus vero non illo.
					Dignissimos!</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Quisquam aperiam voluptatibus quasi incidunt blanditiis, earum modi voluptatum expedita porro ipsam necessitatibus nostrum nulla natus culpa nam officiis eligendi veritatis asperiores.
					ipsum dolor sit amet, consectetur adipisicing elit.
					Odit sapiente, numquam incidunt perferendis ex, placeat minus, in consequatur libero omnis consectetur ab, architecto rerum doloremque totam fugit voluptatem.
					A, consectetur.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Voluptates, perspiciatis praesentium doloribus quas repellat in, quod impedit qui minus eaque necessitatibus dolore dolor a ex ipsa.
					Porro quia error recusandae. ipsum dolor sit amet, consectetur adipisicing elit.
					Perferendis sint nemo a, culpa, quia maiores dolorem maxime libero unde, minima explicabo, omnis possimus tempore dolor?
					Iste doloremque amet similique velit.</p>

			</div>
			<div class="w3-card-2 w3-margin">
				<table class="w3-table-all">
					<tr style="font-size: 18px; font-family: 'Radley', serif;">
						<th>Faculty</th>
						<th>Specialisations</th>
						<th>Exams</th>
						<th>Price</th>
						<th>Places</th>
					</tr>

					<tr>
						<td>IT</td>
						<td>Web-developer</td>
						<td>Informatics </td>
						<td>$4000</td>
						<td>50</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Programmer</td>
						<td>Informatics </td>
						<td>$5000</td>
						<td>30</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Web-Designer</td>
						<td>Informatics</td>
						<td>$3000</td>
						<td>60</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Programmer</td>
						<td>Informatics </td>
						<td>$5000</td>
						<td>30</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Web-Designer</td>
						<td>Informatics</td>
						<td>$3000</td>
						<td>60</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Programmer</td>
						<td>Informatics </td>
						<td>$5000</td>
						<td>30</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Web-Designer</td>
						<td>Informatics</td>
						<td>$3000</td>
						<td>60</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Programmer</td>
						<td>Informatics </td>
						<td>$5000</td>
						<td>30</td>
					</tr>
					<tr>
						<td>IT</td>
						<td>Web-Designer</td>
						<td>Informatics</td>
						<td>$3000</td>
						<td>60</td>
					</tr>
				</table>
			</div>
		</section>

		<aside class="w3-col l4 m12 s12">
			<div class="w3-card-4 w3-padding w3-margin w3-white">
				<h3 class="w3-center">Bachelors's Degree</h3>
				<ul class="w3-ul w3-hoverable">
					<li><a href="/smallsite/general_information"> General Information</a></li>
					<li><a href="/smallsite/enrollment/"> Enrollment Rules</a></li>
					<li><a href="#"> Full-time & Part-time studies</a></li>
					<li><a href="#"> Fees & Charges</a></li>
					<li><a href="#"> Specialisations</a></li>
					<li><a href="#"> Preparatory Courses</a></li>
					<li><a href="#"> Diploma Exam</a></li>
				</ul>
			</div>
			<div class="w3-card-4 w3-padding w3-margin w3-white">
				<h3 class="w3-center">Master Degree</h3>
				<ul class="w3-ul w3-hoverable">
					<li><a href="#"> General Information</a></li>
					<li><a href="#"> Enrollmant Rules</a></li>
					<li><a href="#"> Fees & Charges</a></li>
					<li><a href="#"> Diploma Exam</a></li>
				</ul>
			</div>
			<div class="w3-card-4 w3-padding w3-margin w3-white">
				<h3 class="w3-center">Doctoral Courses</h3>
				<ul class="w3-ul w3-hoverable">
					<li><a href="#"> General Information</a></li>
					<li><a href="#"> Courses & Workshops</a></li>
					<li><a href="#"> Fees & Charges</a></li>
					<li><a href="#"> For Candidates</a></li>
				</ul>
			</div>
			<div class="w3-card-4 w3-padding w3-margin w3-white w3-center">
				<h3 class="w3-center">Dean's Office</h3>
				<p class="p"><i class="fa fa-fw fa-phone"></i> +998933301232</p>
				<p class="p"><i class="fa fa-fw fa-envelope"></i> diyor28july@gmail.com</p>
			</div>
		</aside>
	</div>
</main>

<footer class=" w3-container w3-grey w3-margin-top w3-padding-32">
	<p id="fopa">Site done by T.Malik <br>
  Copyright&copy;</p>
</footer>

{% endblock %}
</body>
</html>
