.anb {
    color: white;
}
.anb:hover {
    color: #bfbfbf;
}

.anc {
    font-family: 'Mate', serif;
    text-decoration: none;
    color: white;
    padding: 0 3px;
    }

.anc:hover {
    text-decoration: none;
    color: #bfbfbf;
    }

nav {
    background-color: #00acec;
    padding: 14px 16px;
    margin: 0 30px 0 30px;
    }


.news-image {
    width: 200px;
    }


a {
    font-family: 'Mate', serif;
    text-decoration: none;
    padding: 0 3px;
    color: grey;
	}

a:hover {
    text-decoration: none;
    color: black
	}

h3,h1 {
    font-family: 'Radley', serif;
	}

p {
    font-family: 'Hind Siliguri', sans-serif;
    }
