h1 {
		font-family: 'Bree Serif', serif;
  	}
  	h2 {
  		text-align: center;
  		padding: 8px;
  	}
  	body {
  		font-family: 'Exo', sans-serif;
  		background-color: #d7e0eb;
  	}
  	a {
  		font-size: 26px;
  	}
  	body, html {
    	height: 100%;
	}
	.w3-card {
		background-color: #f8f8f6;
	}
	* {
    	box-sizing: border-box;
	}
	.bg-img {
		opacity: 1px;
   		min-height: 380px;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	width: 100%;
	}
	footer {
		background-color: #a0c3e2;
		color: white;
	}
	nav {
		background-color: #027d95;
	}
	#btn {
		color: white;
		background-color: #d9dad9;
		border: none;
		padding: 3px 8px;
	}
	input {
		padding: 3px;
		border: none;
		font-family: 'Mate', serif;
	}