<!DOCTYPE html>
<html lang="en">

{% extends 'base.html'%}

{% block head %}
    <meta charset="UTF-8">
    <title>About us</title>
    <style>
        .main-text {
            font-size: 16px;
            font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        }
    </style>
{% endblock %}


{% block body %}


<div class="container">
    <h2>
        The MIT community is driven by a shared purpose:
        to make a better world through education, research, and innovation.
        We are fun and quirky, elite but not elitist, inventive and artistic,
        obsessed with numbers, and welcoming to talented people regardless of
        where they come from.
    </h2>
</div>

<div class="container">
    <p class="main-text">
        Founded to accelerate the nation’s industrial revolution, MIT is profoundly American.
        With ingenuity and drive, our graduates have invented fundamental technologies,
        launched new industries, and created millions of American jobs.
        At the same time, and without the slightest sense of contradiction,
        MIT is profoundly global (opens in new window)global.mit.edu.
        Our community gains tremendous strength as a magnet for talent from around the world.
        Through teaching, research, and innovation,
        MIT’s exceptional community pursues its mission of service to the nation and the world.
    </p>
</div>


{% endblock %}

</html>