{% extends 'base.html' %}

{% block head %}
    <title>Change Profile Info</title>
{% endblock %}

{% block body%}

<div class="w3-light-grey">
    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
    </nav>

    <div style="margin: 10px 15px 10px 15px">
    <form class="w3-card-4 w3-margin w3-light-grey w3-container" method="post">
        {% csrf_token %}

        <h3 class="w3-center">Registration</h3>
        <hr>
        <p>
            <label>First Name:</label>
            <input type="text" class="w3-input w3-border w3-round" name="first_name" placeholder="Enter your name...">
        </p>

        <p>
            <label>Last Name:</label>
            <input type="text" class="w3-input w3-border w3-round" name="last_name" placeholder="Enter your surname...">
        </p>

        <p>
            <label>Email:</label>
            <input type="email" class="w3-input w3-border w3-round" name="email" placeholder="Enter your email..." required>
        </p>

        <p>
            <label>Password:</label>
            <input type="password" class="w3-input w3-border w3-round" name="password1" placeholder="Enter your password...">
        </p>

        <p>
            <label>Password Confirmation:</label>
            <input type="password" class="w3-input w3-border w3-round" name="password2" placeholder="Cofirm your password...">
        </p>
        <button class="w3-button w3-padding w3-center w3-black w3-block w3-margin-bottom">Register</button>
    </form>
    </div>
</div>

{% endblock %}