<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block head %}
    <title>Grades</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/smallsite/grades.css' %}">

{% endblock %}

{% block body %}

    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
        <a href="{% url 'smallsite:profile' %}" class="anc">Profile</a>
    </nav>


    <div class="main-body">
        <div class="main-text">
            <h1 id="student-name">Student name: {{ user.userprofileinfo.first_name }} {{ user.userprofileinfo.last_name }}</h1>

            <div class="w3-card-2 w3-margin">
                <table class="w3-table-all">
                    <tr class="grades-table">
                        <th style="font-size: 18px">Subject:</th>
                        <th style="font-size: 18px">Fist Semester</th>
                        <th style="font-size: 18px">Second Semester</th>
                        <th style="font-size: 18px">Overall Mark</th>
                    </tr>

                    {% for subject in grades %}
                        <tr class="grades-table">
                            <td class="subject">{{ subject.subject }}</td>
                            <td>{{ subject.semester1 }}</td>
                            <td>{{ subject.semester2 }}</td>
                            <td>{{ subject.overall }}</td>
                        </tr>
                    {% endfor %}

                </table>







{#                <table class="w3-table-all">#}
{#                    <tr class="grades-table">#}
{#                        <th style="font-size: 18px">Subject:</th>#}
{#                        <th style="font-size: 18px">Fist Semester</th>#}
{#                        <th style="font-size: 18px">Second Semester</th>#}
{#                        <th style="font-size: 18px">Overall Mark</th>#}
{#                    </tr>#}
{#                    <tr class="grades-table">#}
{#                        <td class="subject">{{ user.subject.subject }}</td>#}
{#                        <td>{{ user.subject.semestr1 }}</td>#}
{#                        <td>{{ user.subject.semestr2 }}</td>#}
{#                        <td>{{ user.subject.overall }}</td>#}
{#                    </tr>#}
{##}
{#                    <tr class="grades-table">#}
{#                        <td class="subject">English</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                    </tr>#}
{##}
{#                    <tr>#}
{#                        <td class="subject">Geography</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                    </tr>#}
{##}
{#                    <tr class="grades-table">#}
{#                        <td class="subject">Math</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                    </tr>#}
{##}
{#                    <tr class="grades-table">#}
{#                        <td class="subject">Physics</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                        <td>{{ user.subject }}</td>#}
{#                    </tr>#}
{#                </table>#}
            </div>
        </div>
    </div>

{% endblock %}


</html>