<html>

{% extends 'base.html' %}
<meta charset="UTF-8">
{% block head %}
    <title>Log In Page</title>
    {% load static %}
{% endblock %}

{% block body %}
    <nav>
        <a href="{% url 'home' %}" class="anb"><i class="fa fa-home"></i> Home Page</a>
        <a href="{% url 'news' %}" class="anc">News</a>
        <a href="{% url 'projects' %}" class="anc">Projects</a>
        <a href="{% url 'signup' %}" class="anc" style="float: right">Sign Up</a>
    </nav>

    <h1 style="margin: 20px 0px 0px 30px">You are logged out.</h1>
{% endblock %}

</html>