{% extends 'base.html' %}

{% block head %}
    <title>Log Out Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/smallsite/logout.css' %}">
{% endblock %}

{% block body %}
    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
        <a href="{% url 'news' %}" class="anc">News</a>
        <a href="{% url 'projects' %}" class="anc">Projects</a>
        <a href="{% url 'signup' %}" class="anc" style="float: right">Sign Up</a>
    </nav>

    <h1 style="margin: 20px 0px 0px 30px">You are logged out.</h1>
{% endblock %}