<!DOCTYPE html>

<html lang="en">

{% extends 'base.html' %}

{% block head %}
    <title>News</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/grades/grades.css' %}">

{% endblock %}


{% block body %}

    <nav>
        <a href="/smallsite/" class="anb"><i class="fa fa-home"></i> Home Page</a>
        <a href="/smallsite/signup/" class="anc" style="float: right; font-size: 16px">Sign Up</a>
        <a href="#login/" onclick="document.getElementById('id01').style.display='block'"
           class="anc" style="float: right; font-size: 16px">Log In</a>
    </nav>



    <div class="container main-text">
        <h1 style="font-family: 'Times New Roman'; margin: 10px 0px 20px 10px;">Daily News</h1>

        <p>
            <img src="{% static 'images/news/news1.jpg' %}" class="news-image">
            <a href="#">Robot Investments Weekly: Love Blooms for Self-Driving, Robotics Firms</a>
        </p>

        <p>
            <img src="{% static 'images/news/news2.jpg' %}" class="news-image">
            <a href="#">Components Roundup: New sensors, Jetson-based AI development kit</a>
        </p>

        <p>
            <img src="{% static 'images/news/news3.jpeg' %}" class="news-image">
            <a href="#">Consumer Group Says Self-Driving Cars Aren’t Ready for Public Roads</a>
        </p>

        <p>
            <img src="{% static 'images/news/news4.jpeg' %}" class="news-image">
            <a href="#">Robot Investments Weekly: Love Blooms for Self-Driving, Robotics Firms</a>
        </p>

        <p>
            <img src="{% static 'images/news/news5.jpeg' %}" class="news-image">
            <a href="#">Components Roundup: New sensors, Jetson-based AI development kit</a>
        </p>

        <p>
            <img src="{% static 'images/news/news6.jpeg' %}" class="news-image">
            <a href="#">Consumer Group Says Self-Driving Cars Aren’t Ready for Public Roads</a>
        </p>
    </div>

{% endblock %}

</html>