{% extends 'base.html' %}

<html lang="en">

{% block head %}
    {% load static %}
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/base.css' %}">
{% endblock %}

{% block body %}

<nav>
    <a href="/smallsite/" class="anb"><i class="fa fa-home"></i> Home Page</a>
    <a href="/smallsite/profile/grades/" class="anc">Grades</a>
    <a href="/smallsite/logout/" class="anc" style="float: right">Log Out</a>
</nav>


<div class="container">
    <img src="{% static 'images/profile_pic/icon.png' %}" style="width: 100px">
    <h6>{{first_name}} {{last_name}}</h6>
    <a href="#">{{email}}</a>
</div>



{% endblock %}
</html>