<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/base.css' %}">
    <title>Account</title>
    {% endblock %}
</head>
<body>
{% block body %}

<nav>
    <div class="navbar-brand">
        <a href="/smallsite/" class="anc">Home Page</a>
        <a href="grades/" class="anc">Grades</a>
    </div>
</nav>

<h1>"{{first_name}} {{last_name}} {{email}}"</h1>



{% endblock %}

</body>
</html>