{% extends 'base.html' %}

{% block head %}
    <title>Change Profile Info</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/smallsite/reset_password.css' %}">
{% endblock %}

{% block body%}

    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
    </nav>


<div style="margin: 10px 15px 10px 15px">
    <form class="w3-card-4 w3-margin w3-container" method="post">
        {% csrf_token %}

        <h3 class="w3-center" id="reset">Reset Password</h3>
        <hr>

        <div class="input-field">
            <p>
                <h6 style="text-align: center">Old password</h6>
                <input type="password" class="w3-input w3-border w3-round" name="password"
                       placeholder="Password..." required>
            </p>
        </div>

        <div class="input-field">
            <p>
                <h6 style="text-align: center">New password</h6>
                <input type="password" class="w3-input w3-border w3-round" name="new_password1"
                       placeholder="New password..." required>
            </p>
        </div>

        <div class="input-field">
            <p>
                <h6 style="text-align: center">Confirm new password</h6>
                <input type="password" class="w3-input w3-border w3-round" name="new_password2"
                       placeholder="New password..." required>
            </p>
        </div>

        <button class="w3-button w3-padding w3-center w3-black w3-block w3-margin-bottom" id="submit" type="submit">Reset</button>
    </form>
</div>

{% endblock %}