<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block head %}
    <title>LogIn</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/smallsite/signup.css' %}">
{% endblock %}

{% block body %}
    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
        <a href="#login" onclick="document.getElementById('id01').style.display='block'" class="anc" style="float: right;">Log In</a>
    </nav>

    <div style="margin: 10px 15px 10px 15px">
        <form class="w3-card-4 w3-margin w3-container" method="post">
            {% csrf_token %}

            <h3 id="registration">Registration</h3>
            <hr>
            <p>
                <label>First Name:</label>
                <input type="text" class="w3-input w3-border w3-round" name="first_name" placeholder="Enter your name...">
            </p>

            <p>
                <label>Last Name:</label>
                <input type="text" class="w3-input w3-border w3-round" name="last_name" placeholder="Enter your surname...">
            </p>

            <p>
                <label>Email:</label>
                <input type="email" class="w3-input w3-border w3-round" name="email" placeholder="Enter your email..." required>
            </p>

            <p>
                <label>Password:</label>
                <input type="password" class="w3-input w3-border w3-round" name="password1" placeholder="Enter your password...">
            </p>

            <p>
                <label>Password Confirmation:</label>
                <input type="password" class="w3-input w3-border w3-round" name="password2" placeholder="Cofirm your password...">
            </p>

            <br>

            <select class="w3-select" name="option">
                <option value="" disabled selected>Choose your nationality...</option>
                <option value="1">Tatar</option>
                <option value="2">Uzbek</option>
                <option value="3">French</option>
                <option value="4">Russian</option>
                <option value="5">Japanese</option>
                <option value="6">German</option>
            </select>
            <br>

            <p class="w3-margin w3-padding w3-center">
                <input class="w3-radio w3-margin-left" type="radio" name="gender" value="male" checked>
                <label>Male</label>
                <input class="w3-radio w3-margin-left" type="radio" name="gender" value="female">
                <label>Female</label>
            </p>

            <hr>
            <button class="w3-button w3-padding w3-center w3-black w3-block w3-margin-bottom" id="register">Register</button>
        </form>
    </div>
{% endblock %}

</html>