a {
    font-family: 'Mate', serif;
    text-decoration: none;
    padding: 0 3px;
    color: grey;
	}

a:hover {
    text-decoration: none;
    color: black
    }


h3, h1  {
        font-family: 'Radley', serif;
    }


p {
    font-family: 'Hind Siliguri', sans-serif;
    }

.anc {
    font-family: 'Mate', serif;
    font-size: 130%;
    text-decoration: none;
    color: white;
    padding: 0 3px;
    }

.anc:hover {
    text-decoration: none;
    color: #bfbfbf;
    }

#logo {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding-right: 6px;
    font-family: 'Mate', serif;
    }

#logo:hover {
    color: white;
    text-decoration: none;
    }

nav {
    background-color: #2e2e30;
    margin: 0;
    padding: 10px 16px;
    }
