<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block head %}
    <title>Log In Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/base.css' %}">
    {% endblock %}
</head>

{% block body %}
    <nav>
        <a href="/smallsite/" class="anc" style="font-size: 20px">Home Page</a>
        <a href="/smallsite/news/" class="anc">News</a>
        <a href="/smallsite/projects/" class="anc">Projects</a>
        <a href="/smallsite/signup/" class="anc" style="float: right">Sign Up</a>
    </nav>

    <div class="container">
        <h1>Log In</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" name="submit" class="btn btn-success">Log in</button>
        </form>
    </div>
{% endblock %}

</html>