.anc {
    font-family: 'Mate', serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 3px;
    }

.anc:hover {
    text-decoration: none;
    color: #515151;
    }

nav {
    background-color: white;
    padding: 15px 15px;
    margin: 4px 30px 0 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
    }

a {
    font-family: 'Mate', serif;
    text-decoration: none;
    padding: 0 3px;
    color: grey;
	}

a:hover {
    text-decoration: none;
    color: black
	}

h3,h1 {
    font-family: 'Radley', serif;
	}

p {
    font-family: 'Hind Siliguri', sans-serif;
    }


#fopa {
    font-family: 'Fondamento', cursive;
    }

#profile {
    width: 40px;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #7e7d7d;
    background-color: white;
}

.vl {
    border-left: 2px solid gray;
    height: 20px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}












