.anc {
    font-family: 'Mate', serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 3px;
    }

.anc:hover {
    text-decoration: none;
    color: #515151;
    }

nav {
    background-color: white;
    padding: 15px 15px;
    margin: 4px 30px 0 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
    }

.main-body {
    margin: 25px 30px 0px 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.main-text {
    margin: 10px 100px 0 100px;
    padding-bottom: 50px;
}

.projects-head {
    padding-top: 10px;
    color: cornflowerblue;
    text-align: center;
}