{% extends 'base.html' %}

{% block head %}
    <title>Admin Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin.css' %}">
{% endblock %}


{% block body %}

    <nav>
        <a href="{% url 'home' %}" class="anc"><i class="fa fa-home"></i> Home Page</a>
        <a href="{% url 'smallsite:logout' %}" class="anc" style="float: right">Log Out</a>
    </nav>



    <div class="main-body">
        <div class="main-text">

            <div class="heading">
                <h4 id="heading-text">Students</h4>
            </div>

            {% for student in students %}
                <div class="student">
                        <a href="{% url 'adminpage:edit-credentials' pk=student.pk %}" style="text-decoration: none">
                            <img src="{{ student.userprofileinfo.profile_pic.url }}" class="student-picture">
                        </a>

                        <a href="{% url 'adminpage:edit-credentials' pk=student.pk %}" style="text-decoration: none">
                            <span class="student-name">
                                {{ student.userprofileinfo.first_name }}
                                {{ student.userprofileinfo.last_name }}
                            </span>
                        </a>
                        <div>
                        <a href="{% url 'adminpage:show-grades' pk=student.pk %}" style="text-decoration: none">
                            <span class="student-name">Grades</span>
                        </a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}